<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sd.practice02.mappers.testMapper">

    <select id="callAll" resultType="com.sd.domain.BoardVO">
        <![CDATA[
select
  IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
from
  (SELECT ROWNUM AS rnum, IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
  FROM TB_BOARD)
where rnum BETWEEN (#{page} * 10 - 9 ) and (#{page} * 10)
   ]]>
        <include refid="search"></include>
        ORDER BY IDX ASC
    </select>

    <select id="callAll02" resultType="com.sd.domain.BoardVO02">
        <![CDATA[
select
  IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
from
  (SELECT ROWNUM AS rnum, IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
  FROM TB_BOARD)
where rnum BETWEEN (#{page} * 10 - 9 ) and (#{page} * 10)
   ]]>
        <!--<include refid="search"></include>-->
        ORDER BY IDX ASC
    </select>


    <select id="callAll03" resultType="com.sd.domain.BoardVO03">
        <![CDATA[
select
  dummynum, dummytitle, dummywriter, dummydate
from
  SEEDTEC1.DOUBLECONN
   ]]>
        ORDER BY dummynum ASC
    </select>

    <!--<select id="callAll02" resultType="com.sd.domain.BoardVO">-->
        <!--<![CDATA[-->
<!--select-->
  <!--IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT-->
<!--from-->
  <!--(SELECT ROWNUM AS rnum, IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT-->
  <!--FROM TB_BOARD)-->
<!--where rnum BETWEEN (#{page} * 10 - 9 ) and (#{page} * 10)-->
   <!--]]>-->
        <!--<include refid="search"></include>-->
        <!--ORDER BY IDX ASC-->
    <!--</select>-->

    <select id="proc3" resultType="com.sd.domain.BoardVO">
        <![CDATA[
        select
        IDX, PARENT_IDX, TITLE, CONTENTS, HIT_CNT, DEL_GB,CREA_DTM, CREA_ID,
        from
        TB_BOARD
        where
        #{min} between #{max}
        ]]>
        <if test="#{search_word}">!= null
            and TITLE like '%' || #{searchWord} || '%'
        </if>
        group by PARENT_IDX
        order by IDX DESC
    </select>


    <select id="countPaging" resultType="int">
        <![CDATA[
        select
          count(IDX)
        from
         TB_BOARD
        where
        IDX > 0
        ]]>
    </select>

    <insert id="addAttach">
        INSERT INTO FILE_UPLOAD (UPLOAD_PATH)
        VALUES (#{fullName})
    </insert>

    <select id="getAttach" resultType="string">
        SELECT UPLOAD_PATH FROM FILE_UPLOAD ORDER BY UPLOAD_PATH
    </select>

    <select id="findCondition">
        <![CDATA[
select
  IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
from
  (SELECT ROWNUM AS rnum, IDX, TITLE, CREA_ID, CREA_DTM, HIT_CNT
  FROM TB_BOARD)
where rnum BETWEEN (#{page} * 10 - 9 ) and (#{page} * 10)
 ]]>
        <include refid="search"></include>

        ORDER BY IDX ASC

    </select>

    <sql id="search">
        <if test="valTest != null">
            <if test="valTest == 't'.toString()">
                and TITLE like '%' || #{valTest} || '%'
            </if>
            <if test="valTest == 'g'.toString()">
                and TITLE like '%' || #{valTest} || '%'
            </if>
            <if test="valTest == 'Test'.toString()">
                and TITLE like '%' || #{valTest} || '%'
            </if>
            <!--<if test="valTest == 테스트">-->
            <!--&#45;&#45;                 and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))-->
            <!--</if>-->
            <!--<if test="valTest == 넘기기">-->
            <!--&#45;&#45;                 and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))-->
            <!--</if>-->
            <!--<if test="valTest == 제목">-->
            <!--&#45;&#45;                 and ( title like CONCAT('%', #{keyword}, '%')-->
            <!--&#45;&#45;                 OR-->
            <!--&#45;&#45;                 content like CONCAT('%', #{keyword}, '%')-->
            <!--&#45;&#45;                 OR-->
            <!--&#45;&#45;                 writer like CONCAT('%', #{keyword}, '%'))-->
            <!--</if>-->
        </if>
    </sql>

    <!--<select id="callAll" parameterType="hashmap" resultType="com.sd.domain.BoardVO">-->
    <!--<include refid="pagingPre"/>-->
    <!--<![CDATA[-->
    <!--SELECT-->
    <!--ROW_NUMBER() OVER (ORDER BY IDX DESC) RNUM,-->
    <!--IDX,-->
    <!--TITLE,-->
    <!--HIT_CNT,-->
    <!--CREA_DTM-->
    <!--FROM-->
    <!--TB_BOARD-->
    <!--WHERE-->
    <!--DEL_GB = 'N'-->
    <!--]]>-->
    <!--<include refid="pagingPost"/>-->
    <!--</select>-->

    <!--<sql id="pagingPre">-->
    <!--<![CDATA[-->
    <!--SELECT-->
    <!--AAA.*-->
    <!--FROM(-->
    <!--SELECT-->
    <!--COUNT(*) OVER() AS TOTAL_COUNT,-->
    <!--AA.*-->
    <!--FROM(-->
    <!--]]>-->
    <!--</sql>-->

    <!--<sql id="pagingPost">-->
    <!--<![CDATA[-->
    <!--) AA-->
    <!--) AAA-->
    <!--WHERE-->
    <!--AAA.RNUM BETWEEN 5 AND 30-->
    <!--]]>-->
    <!--</sql>-->

    <!-- 김진규 팀장님!
    <select id="callAll" resultType="com.sd.domain.BoardVO" parameterType="HashMap">

        select *
        from (select *
        from (select rownum rnum, idx, title, hit_cnt, crea_id, crea_dtm

        from
        tb_board
        <if test="sitem != null">
            where
            title like '%'||#{sitem}||'%'
        </if>
        )
        where rnum <![CDATA[<=]]> #{imax}
        )
        <choose>
            <when test="sitem != null || sitem != ''">
                where rnum > 0
            </when>
            <when test="sitem == null">
                where rnum > #{imin}
            </when>
        </choose>
        order by rnum desc
    </select>
-->
    <!--<select id="listGet" resultType="com.sd.domain.CsoVO">-->
        <!--<![CDATA[-->
        <!--select-->
          <!--count(SEEDTEC1.T_FN_MAIN.FN_PRODUCTID)-->
        <!--from-->
         <!--SEEDTEC1.T_FN_MAIN-->
        <!--where-->
         <!--SEEDTEC1.T_FN_MAIN.FN_PRODUCTID > 0-->
        <!--]]>-->
    <!--</select>-->

    <!--<select id="listGet" resultType="com.sd.domain.CsoVO">-->
        <!--select-->
          <!--*-->
        <!--from-->
         <!--FN_MAIN-->
    <!--</select>-->

    <select id="listGet" resultType="com.sd.domain.CsoVO">
        <![CDATA[
        select
          *
        from
         SEEDTEC1.T_FN_MAIN
        where
         SEEDTEC1.T_FN_MAIN.FN_PRODUCTID > 0
        ]]>
    </select>


</mapper>